<a href="https://colab.research.google.com/github/raushan9jnv/Book-recommendation-system/blob/main/Book_recommendation_system_capstone_project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Problem Statement**
During the last few decades, with the rise of Youtube, Amazon, Netflix, and many other such
web services, recommender systems have taken more and more place in our lives. From
e-commerce (suggest to buyers articles that could interest them) to online advertisement
(suggest to users the right contents, matching their preferences), recommender systems are
today unavoidable in our daily online journeys.

In a very general way, recommender systems are algorithms aimed at suggesting relevant
items to users (items being movies to watch, text to read, products to buy, or anything else
depending on industries).

Recommender systems are really critical in some industries as they can generate a huge
amount of income when they are efficient or also be a way to stand out significantly from
competitors. The main objective is to create a book recommendation system for users.

# **Datasets Description**

### We are given with three different datasets and used as the part of our recommendation system.

1. **Users.csv :** Contains the users. Note that user IDs (User-ID) have been anonymized and map to
integers. Demographic data is provided (Location, Age) if available. Otherwise, these
fields contain NULL values.

2. **Books.csv :** Books are identified by their respective ISBN. Invalid ISBNs have already been removed
from the dataset. Moreover, some content-based information is given (Book-Title,
Book-Author, Year-Of-Publication, Publisher), obtained from Amazon Web
Services. Note that in the case of several authors, only the first is provided. URLs linking
to cover images are also given, appearing in three different flavors (Image-URL-S,
Image-URL-M, Image-URL-L), i.e., small, medium, large. These URLs point to the
Amazon website.

3. **Ratings.csv :** Contains the book rating information. Ratings (Book-Rating) are either explicit,
expressed on a scale from 1-10 (higher values denoting higher appreciation), or implicit,
expressed by 0.

### **Variables of Users.csv**
1. user_id	
2. location	
3. age

### **Variables of Books.csv**
1. ISBN	
2. Book-Title	
3. Book-Author	
4. Year-Of-Publication	
5. Publisher	
6. Image-URL-S	
7. Image-URL-M	
8. Image-URL-L

### **Variables of Ratings.csv**
  1. user_id	
  2. isbn	
  3. book_rating

# **Objective**
The main objective is to create a book recommendation system for users.

# **Let's begin**

---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
file_path = "/content/drive/MyDrive/Almabetter/Capstone project/Book recommendation system capstone project-4/Book Recommendation System/data_book_recommendation/"

In [3]:
#importing books dataset
df_books = pd.read_csv(file_path + 'Books.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_ratings = pd.read_csv(file_path + 'Ratings.csv')

In [5]:
df_users = pd.read_csv(file_path + 'Users.csv')

In [6]:
df_books.head(2)

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...

[2 rows x 8 columns]

In [7]:
df_books.shape

(271360, 8)

In [8]:
df_ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [9]:
df_ratings.shape

(1149780, 3)

In [10]:
df_users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [11]:
df_users.shape

(278858, 3)

In [12]:
df_books.drop(['Image-URL-S','Image-URL-M','Image-URL-L'],axis=1,inplace= True)

In [13]:
df_books.head(2)

         ISBN           Book-Title  ... Year-Of-Publication                Publisher
0  0195153448  Classical Mythology  ...                2002  Oxford University Press
1  0002005018         Clara Callan  ...                2001    HarperFlamingo Canada

[2 rows x 5 columns]

In [14]:
#df_books.rename(columns = {'Book-Title': 'Book_Title'},inplace =True)

In [15]:
# df_books.columns = df_books.columns.str.strip().str.lower().str.replace('-','_')
# df_ratings.columns = df_ratings.columns.str.strip().str.lower().str.replace('-','_')
# df_users.columns = df_users.columns.str.strip().str.lower().str.replace('-','_')

In [16]:
def colRename(df):
  df.columns = df.columns.str.strip().str.lower().str.replace('-','_')
  return df.head(2)

###books

In [17]:
df_books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
       'Publisher'],
      dtype='object')

In [ ]:
colRename(df_books)

         isbn           book_title  ... year_of_publication                publisher
0  0195153448  Classical Mythology  ...                2002  Oxford University Press
1  0002005018         Clara Callan  ...                2001    HarperFlamingo Canada

[2 rows x 5 columns]

In [ ]:
df_books.nunique()

isbn                   271360
book_title             242135
book_author            102023
year_of_publication       202
publisher               16807
dtype: int64

In [ ]:
df_books.isnull().sum()

isbn                   0
book_title             0
book_author            1
year_of_publication    0
publisher              2
dtype: int64

In [ ]:
null_book_author=df_books[df_books['book_author'].isnull()]

In [ ]:
null_book_author

              isbn  ...                       publisher
187689  9627982032  ...  Edinburgh Financial Publishing

[1 rows x 5 columns]

In [ ]:
df_books.index

RangeIndex(start=0, stop=271360, step=1)

In [ ]:
df_books.iloc[100]

isbn                                                0385235941
book_title             Prize Stories, 1987: The O'Henry Awards
book_author                                   William Abrahams
year_of_publication                                       1987
publisher                                      Doubleday Books
Name: 100, dtype: object

In [ ]:
display(df_books.loc[(df_books['book_author'] == 'Richard Bruce Wright') & (df_books.year_of_publication == '2001')])

Empty DataFrame
Columns: [isbn, book_title, book_author, year_of_publication, publisher]
Index: []

In [ ]:
df1=df_books[((df_books['book_author'] == 'Richard Bruce Wright'))]

In [ ]:
df1

             isbn  ...              publisher
1      0002005018  ...  HarperFlamingo Canada
69226  0771597185  ...    Macmillan of Canada

[2 rows x 5 columns]

### ratings

In [ ]:
colRename(df_ratings)

   user_id        isbn  book_rating
0   276725  034545104X            0
1   276726  0155061224            5

In [ ]:
df_ratings.nunique()

user_id        105283
isbn           340556
book_rating        11
dtype: int64

In [ ]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   user_id      1149780 non-null  int64
 1   isbn         1149780 non-null  object
 2   book_rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

###users

In [ ]:
colRename(df_users)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [ ]:
df_users.nunique()

user_id     278858
location     57339
age            165
dtype: int64