<a href="https://colab.research.google.com/github/raushan9jnv/Book-recommendation-system/blob/main/Book_recommendation_system_capstone_project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
file_path = "/content/drive/MyDrive/Almabetter/Capstone project/Book recommendation system capstone project-4/Book Recommendation System/data_book_recommendation/"

In [ ]:
#importing books dataset
df_books = pd.read_csv(file_path + 'Books.csv')

In [7]:
df_ratings = pd.read_csv(file_path + 'Ratings.csv')

In [8]:
df_users = pd.read_csv(file_path + 'Users.csv')

In [22]:
df_books.head(2)

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...

[2 rows x 8 columns]

In [21]:
df_books.shape

(271360, 8)

In [23]:
df_ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [24]:
df_ratings.shape

(1149780, 3)

In [17]:
df_users.head(2)

(   User-ID                   Location   Age
 0        1         nyc, new york, usa   NaN
 1        2  stockton, california, usa  18.0, (278858, 3))

In [25]:
df_users.shape

(278858, 3)