<a href="https://colab.research.google.com/github/raushan9jnv/Book-recommendation-system/blob/main/Book_recommendation_system_capstone_project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [153]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [154]:
file_path = "/content/drive/MyDrive/Almabetter/Capstone project/Book recommendation system capstone project-4/Book Recommendation System/data_book_recommendation/"

In [155]:
#importing books dataset
df_books = pd.read_csv(file_path + 'Books.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [156]:
df_ratings = pd.read_csv(file_path + 'Ratings.csv')

In [157]:
df_users = pd.read_csv(file_path + 'Users.csv')

In [158]:
df_books.head(2)

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...

[2 rows x 8 columns]

In [159]:
df_books.shape

(271360, 8)

In [160]:
df_ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [161]:
df_ratings.shape

(1149780, 3)

In [162]:
df_users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [163]:
df_users.shape

(278858, 3)

In [164]:
df_books.drop(['Image-URL-S','Image-URL-M','Image-URL-L'],axis=1,inplace= True)

In [165]:
df_books.head(2)

         ISBN           Book-Title  ... Year-Of-Publication                Publisher
0  0195153448  Classical Mythology  ...                2002  Oxford University Press
1  0002005018         Clara Callan  ...                2001    HarperFlamingo Canada

[2 rows x 5 columns]

In [166]:
#df_books.rename(columns = {'Book-Title': 'Book_Title'},inplace =True)

In [167]:
# df_books.columns = df_books.columns.str.strip().str.lower().str.replace('-','_')
# df_ratings.columns = df_ratings.columns.str.strip().str.lower().str.replace('-','_')
# df_users.columns = df_users.columns.str.strip().str.lower().str.replace('-','_')

In [168]:
def colRename(df):
  df.columns = df.columns.str.strip().str.lower().str.replace('-','_')
  return df.head(2)

###books

In [169]:
colRename(df_books)

         isbn           book_title  ... year_of_publication                publisher
0  0195153448  Classical Mythology  ...                2002  Oxford University Press
1  0002005018         Clara Callan  ...                2001    HarperFlamingo Canada

[2 rows x 5 columns]

In [170]:
df_books.nunique()

isbn                   271360
book_title             242135
book_author            102023
year_of_publication       202
publisher               16807
dtype: int64

In [171]:
df_books.isnull().sum()

isbn                   0
book_title             0
book_author            1
year_of_publication    0
publisher              2
dtype: int64

In [172]:
null_book_author=df_books[df_books['book_author'].isnull()]

In [173]:
null_book_author

              isbn  ...                       publisher
187689  9627982032  ...  Edinburgh Financial Publishing

[1 rows x 5 columns]

In [174]:
df_books.index

RangeIndex(start=0, stop=271360, step=1)

In [125]:
df_books.iloc[100]

isbn                                                0385235941
book_title             Prize Stories, 1987: The O'Henry Awards
book_author                                   William Abrahams
year_of_publication                                       1987
publisher                                      Doubleday Books
Name: 100, dtype: object

In [175]:
display(df_books.loc[(df_books['book_author'] == 'Richard Bruce Wright') & (df_books.year_of_publication == '2001')])

Empty DataFrame
Columns: [isbn, book_title, book_author, year_of_publication, publisher]
Index: []

In [176]:
df1=df_books[((df_books['book_author'] == 'Richard Bruce Wright'))]

In [150]:
df1

             isbn  ...              publisher
1      0002005018  ...  HarperFlamingo Canada
69226  0771597185  ...    Macmillan of Canada

[2 rows x 5 columns]

### ratings

In [101]:
colRename(df_ratings)

   user_id        isbn  book_rating
0   276725  034545104X            0
1   276726  0155061224            5

In [110]:
df_ratings.nunique()

user_id        105283
isbn           340556
book_rating        11
dtype: int64

In [107]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   user_id      1149780 non-null  int64
 1   isbn         1149780 non-null  object
 2   book_rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

###users

In [102]:
colRename(df_users)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [111]:
df_users.nunique()

user_id     278858
location     57339
age            165
dtype: int64